*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
figure {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

textarea {
  width: unset;
  height: unset;
}
