@use './helpers' as *;

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-milk: #f5f5f5;
  --color-dark: #0e0e0e;
  --color-dark-alt: #202020;
  --color-gray: #969696;
  --color-gray-pale: #6f6f6f;

  --border: 1px solid var(--color-dark-alt);

  --font-family-base: 'Inter';

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(75, 40)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;

  --header-height: 73px;
}
