@use '@/app/styles/helpers' as *;

.modal {
  background-color: var(--color-white);
  width: fluid(600, 300);
  margin-inline: auto;
  border: none;
  padding: 30px;

  &::backdrop {
    backdrop-filter: blur(4px);
    background-color: color-mix(in srgb, var(--color-gray-pale) 50%, transparent);
  }
}

.closeButton {
  @include focus-visible;

  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  transform: translate(50%, -50%);
}

.modalWrapper {
  padding: fluid(40, 15);
  border: 1px solid var(--color-dark);
}