@use '@/app/styles/helpers' as *;

.blog {
  padding-block: fluid(160, 40);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(85, 30);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: fluid(30, 15);

  @include tablet {
    justify-content: center;
  }
}
