@use '@/app/styles/helpers' as *;

.cta {
  padding-bottom: 160px;
}

.inner {
  position: relative;
  isolation: isolate;
  padding-top: fluid(157, 50);
  border-top: 1px solid var(--color-dark);
}

.title {
  position: relative;
  width: fluid(490, 250);
  z-index: 4;
}

.img {
  position: absolute;
  top: 23%;
  left: 38%;

  z-index: 1;

  @include mobile {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
  }
}
