@use '@/app/styles/helpers' as *;

.hero {
  position: relative;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    inset: 0 0 14% 0;
    display: block;
    background-color: var(--color-dark);
  }
}

.inner {
  position: relative;
}

.heroSlider {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  :global(.swiper-pagination) {
    width: 150px;
    margin-bottom: 50px;
    margin-left: fluid(190, 0);
    margin-right: auto;
    color: var(--color-white);
  }

  :global(.divider) {
    width: 20px;
    padding-inline: 15px;
  }

  :global(.swiper-button-prev)::after,
  :global(.swiper-button-next)::after {
    content: none;
  }
}

.heroSlider img {
  height: fluid(580, 430);
}

.content {
  position: absolute;
  top: 25%;
  left: 19%;
  z-index: 9;
  pointer-events: none;

  @include mobile {
    left: 10%;
  }
}

.line {
  display: block;
  margin-bottom: 36px;
  width: 70px;
  height: 1.5px;
  background-color: var(--color-white);
}

.title {
  max-width: 517px;
  color: var(--color-white);
  user-select: none;
}

.view {
  position: absolute;
  right: 15%;
  bottom: 15%;
  z-index: 9;
}


