@use '@/app/styles/helpers' as *;

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  height: var(--header-height);
  color: var(--color-white);
  width: 100%;
  animation-name: scrolling-header;
  background-color: var(--color-dark);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 200px;
}

@keyframes scrolling-header {
  to {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  }
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  height: 100%;
}

.overlay {
  @include mobile-above {
    display: contents;
  }

  @include mobile {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: var(--color-white);
    background-color: var(--color-dark);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity var(--transition-duration-longer),
      visibility var(--transition-duration-longer);
  }
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: fluid-to-laptop(60, 30);
  overflow-y: auto;

  @include mobile {
    flex-direction: column-reverse;
    justify-content: center;
    row-gap: 50px;
  }
}

.navList {
  display: flex;
  align-items: center;
  column-gap: fluid-to-laptop(40, 20);

  @include mobile {
    flex-wrap: wrap;
  }
}

.link {
  position: relative;
  color: var(--color-gray);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    top: 0.65em;
    height: 2px;
    background-color: var(--color-white);
    transition: right var(--transition-duration) ease-in;
  }

  @include hover {
    color: var(--color-white);

    &::after {
      right: 0;
    }
  }

  @include mobile {
    font-size: 20px;
  }
}

.active {
  color: var(--color-white);

  &::after {
    right: 0;
  }
}

.open {
  @include mobile {
    opacity: 1;
    visibility: visible;
  }
}

.light {
  background-color: var(--color-white);
  color: var(--color-black);

  @include mobile-above {
    .link {
      color: var(--color-dark);
      &::after {
        background-color: var(--color-dark);
      }

      @include hover {
        color: var(--color-dark);
      }
    }

    .active {
      color: var(--color-dark);
    }
  }
  .lightBurger {
    color: var(--color-dark);
  }
}

.transparent {
  animation-name: transparent-header;
  animation-range: 0 500px;
}

@keyframes transparent-header {
  from {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    background-color: transparent;
  }
  to {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    background-color: var(--color-dark);
  }
}
