@use '@/app/styles/helpers' as *;

.burgerButton {
  position: relative;
  z-index: 100;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  color: var(--color-white);
  border: none;
}

.line {
  fill: none;
  stroke: currentColor;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 60 207;
  transition:
    stroke-dasharray var(--transition-duration-longer)
      cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset var(--transition-duration-longer)
      cubic-bezier(0.4, 0, 0.2, 1);
}

.line2 {
  stroke-dasharray: 60 60;
}

.burgerButton:not(.open) .line3 {
  stroke-dasharray: 30 207;
  stroke-dashoffset: -30;
}

.open {
  .line {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
  }
  .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
  }
}
